# === Node / npm ===
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# === Build results ===
dist/
build/
.webpack/

# === Expo ===
.expo/
.expo-shared/
web-build/

# === Environment variables ===
.env
.env.local
.env.development
.env.production

# === Logs ===
logs/
*.log

# === OS / Editor ===
.DS_Store
Thumbs.db

# === IDE ===
.vscode/
.idea/

# === Cache ===
.cache/
.parcel-cache/
.next/
